---
import {getCollection} from "astro:content";
import Layout from "~/layouts/Layout.astro";

import Header from "~/components/Header/Header";
import Footer from "~/components/Footer/Footer.astro";

import SectionHero from "~/sections/Hero.astro";
import SectionSummary from "~/sections/Summary.astro";
import SectionAdditionalInfo from "~/sections/AdditionalInfo.astro";
import SectionPhotoPreview from "~/sections/PhotoPreview.astro";
import SectionFeedback from "~/sections/Feedback.astro";
import SectionPizzaPromote from "~/sections/PizzaPromote.astro";
import SectionForSchools from "~/sections/ForSchools.astro";
import SectionQuestionAndAnswers from "~/sections/QuestionAndAnswers.astro";
import SectionSocialNetworks from "~/sections/SocialsNetworks.astro";
import SectionMap from "~/sections/Map.astro";
import ModalBookingEvent from "~/components/ModalBookingEvent/ModalBookingEvent";

import {photosLibrary, feedbackLibrary} from "~/shared/utils/locations";
import {routes} from "~/shared/api";

export async function getStaticPaths() {
    const allLocations = await getCollection("location");

    return allLocations.map((location) => ({
        params: {
            country: location.data.country,
            locale: location.data.localeSlug,
        },
        props: {
            location,
        },
    }));
}

const {location} = Astro.props;
const {country, city, localeSlug} = location.data;

const {header, footer, pages, modalBooking} = location.data.translates;

const allLocations = await getCollection("location");
const languages = allLocations
    .filter(
        (currentLocation) =>
            location.data.country === currentLocation.data.country,
    )
    .map((currentLocation) => ({
        label: currentLocation.data.localeSlug,
        active: location.data.locale === currentLocation.data.locale,
        url: `/${currentLocation.data.country}/${currentLocation.data.localeSlug}`,
    }));

const fetchRoute = routes[country][city];
---

<Layout
    title={location.data.title}
    extraClass="flex flex-col gap-4"
>
    <ModalBookingEvent
        client:idle
        locale={location.data.locale}
        translates={modalBooking}
        route={fetchRoute}
    />

    <Header
        client:load
        logo={location.data.logo}
        translate={header}
        languageList={languages}
    />

    <SectionHero
        extraClass="mb-10 mt-16 md:mt-24"
        translates={pages.main.hero}
    />

    <div>
        <div id="mc"/>
        <SectionSummary
            extraClass="mb-10"
            translates={pages.main.summary}
        />
    </div>

    <div>
        <div id="birthday"/>
        <SectionAdditionalInfo
            extraClass="mb-10"
            translates={pages.main.additionalInfo}
            isHbPage={location.data.pageHb}
        />
    </div>

    <SectionPhotoPreview
        extraClass="mb-10"
        translates={pages.main.photoPreview}
        slides={photosLibrary[country]}
    />

    <div>
        <div id="feedback"/>

        <!--@ts-ignore-->
        <SectionFeedback
            extraClass="mb-10 mt-32"
            translates={pages.main.feedback}
            feedback={feedbackLibrary[country][localeSlug]}
        />
    </div>

    <div>

        <SectionPizzaPromote
            translates={pages.main.pizzaPromote}
        />

        <div>
            <div id="mc-schools"/>
            <SectionForSchools
                extraClass="mb-10"
                translates={pages.main.forSchools}
            />
        </div>
    </div>

    <div class="mt-32">
        <div id="faq"/>
        <SectionQuestionAndAnswers
            extraClass="mb-20 mt-32"
            translates={pages.main.questionAndAnswers}
        />
    </div>

    <div class="mt-36">
        <div id="contacts"/>
        <SectionSocialNetworks
            extraClass="mt-14"
            translates={pages.main.socialNetworks}
        />
    </div>

    <SectionMap
        mapCenter={location.data.map.center}
        points={location.data.cities}
    />

    <Footer
        logo={location.data.logo}
        translates={footer}
    />
</Layout>
