---
import {getCollection, getEntry} from "astro:content";
import Layout from "~/layouts/Layout.astro";

import Header from "~/components/Header/Header";
import Footer from "~/components/Footer/Footer.astro";

import SectionHero from "~/sections/Hero.astro";
import SectionSummary from "~/sections/Summary.astro";
import SectionAdditionalInfo from "~/sections/AdditionalInfo.astro";
import SectionPhotoPreview from "~/sections/PhotoPreview.astro";
import SectionFeedback from "~/sections/Feedback.astro";
import SectionPizzaPromote from "~/sections/PizzaPromote.astro";
import SectionForSchools from "~/sections/ForSchools.astro";
import SectionQuestionAndAnswers from "~/sections/QuestionAndAnswers.astro";
import SectionSocialNetworks from "~/sections/SocialsNetworks.astro";
import SectionMap from "~/sections/Map.astro";
import ModalBookingEvent from "~/components/ModalBookingEvent/ModalBookingEvent";

export async function getStaticPaths() {
    const allLocations = await getCollection("location");

    return allLocations.map((location) => ({
        params: {
            country: location.data.country,
            locale: location.data.localeSlug,
        },
        props: {
            location,
        },
    }));
}

const {location} = Astro.props;

const translates = location.data.translates;

const allLocations = await getCollection("location");
const languages = allLocations
    .filter(
        (currentLocation) =>
            location.data.country === currentLocation.data.country,
    )
    .map((currentLocation) => ({
        label: currentLocation.data.localeSlug,
        active: location.data.locale === currentLocation.data.locale,
        url: `/${currentLocation.data.country}/${currentLocation.data.localeSlug}`,
    }));
---

<Layout
    title={location.data.title}
    extraClass="flex flex-col gap-4"
>
    <ModalBookingEvent
        client:only="react"
        locale={location.data.locale}
        translates={translates.modalBooking}
    />

    <Header
        client:load
        logo={location.data.logo}
        translate={translates.header}
        languageList={languages}
    />

    <SectionHero
        extraClass="mb-10 mt-16 md:mt-24"
        translates={translates.hero}
    />

    <div>
        <div id="mc"/>
        <SectionSummary
            extraClass="mb-10"
            translates={translates.summary}
        />
    </div>

    <div>
        <div id="birthday"/>
        <SectionAdditionalInfo
            extraClass="mb-10"
            translates={translates.additionalInfo}
        />
    </div>

    <SectionPhotoPreview
        extraClass="mb-10"
        translates={translates.photoPreview}
    />

    <div>
        <div id="feedback"/>
        <SectionFeedback
            extraClass="mb-10 mt-32"
            translates={translates.feedback}
        />
    </div>

    <div>

        <SectionPizzaPromote
            translates={translates.pizzaPromote}
        />

        <div>
            <div id="mc-schools"/>
            <SectionForSchools
            extraClass="mb-10"
            translates={translates.forSchools}
            />
        </div>
    </div>

    <div class="mt-32">
        <div id="faq"/>
        <SectionQuestionAndAnswers
            extraClass="mb-20 mt-32"
            translates={translates.questionAndAnswers}
        />
    </div>

    <div class="mt-36">
        <div id="contacts"/>
        <SectionSocialNetworks
            extraClass="mt-14"
            translates={translates.socialNetworks}
        />
    </div>

    <SectionMap
        mapCenter={location.data.map.center}
        points={location.data.cities}
    />

    <Footer
        logo={location.data.logo}
        translates={translates.footer}
    />
</Layout>
