---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";

import logoDodo from '~/assets/logos/logo-dodo.svg';

interface Props {
    extraClass?: string;
}

const {extraClass} = Astro.props;

interface SourceLink {
    title: string;
    url: string;
    target?: '_blank' | '_self';
}

interface FooterSection {
        heading: string;
        linksList: SourceLink[];
}

type DataProps = FooterSection[]

const data : DataProps = [
    {
        heading: 'About Us',
        linksList: [
            {
                title: 'Dodo Brands website',
                url: 'https://dodobrands.io/',
            },
            {
                title: 'Dodo Pizza in Cyprus',
                url: '#',
            },
        ]
    },
    {
        heading: 'Follow us',
        linksList: [
            {
                title: 'Dodo Pizza Cyprus Instagram',
                url: '#',
            },
            {
                title: 'Dodo Pizza Cyprus TikTok',
                url: '#',
            },
        ]
    },
    {
        heading: 'Contacts',
        linksList: [
            {
                title: '+357 7700 07 07',
                url: 'tel:+357 7700 07 07',
            },
            {
                title: 'feedback@dodopizza.com.cy',
                url: 'mailto:feedback@dodopizza.com.cy',
            },
        ]
    },

]
---

<div
    class={
        twMerge(
            extraClass
        )
    }
>
    <div class="container py-16 flex flex-col gap-12">
        <div class="flex flex-col items-start md:flex-row gap-8 md:gap-8">
            <div class="md:basis-80 mb-4">

                <div class={
                    twMerge(
                        "w-36"
                    )
                }>
                    <Image
                        src={logoDodo}
                        alt="logoDodo"
                        class="h-full w-full object-contain"
                    />
                </div>
            </div>

            {
                data.map((footerSection) => (
                    <div class="flex flex-col gap-4 md:gap-6 md:basis-80">
                        <p class="font-bold text-neutral-300 text-2xl">{footerSection.heading}</p>

                        <ul class="flex flex-col gap-2">
                            {
                                footerSection.linksList.map((link) => (
                                    <li class="text-xl"><a href={link.url} target={link.target ?? "_blank"}>{link.title}</a></li>
                                ))
                            }
                        </ul>
                    </div>
                ))
            }

        </div>

        <div class="flex justify-between flex-col gap-4 md:flex-row">
            <p class="text-neutral-300">Dodo Pizza © {new Date().toLocaleDateString('en-EN', {year: 'numeric'})} </p>

            <div class="flex flex-col md:flex-row gap-4">
                <a href="#privacy" target="_blank" class="text-neutral-300">Privacy Policy</a>
                <a href="#privacy" target="_blank" class="text-neutral-300">Terms of use</a>
            </div>
        </div>
    </div>
</div>
