---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";

import SliderFeedback from '~/components/SliderFeedback/SliderFeedback';

import star from '~/assets/images/star.svg'

// REFACTOR: todo
import type {Feedback} from "~/components/SliderFeedback/types";

interface Translates {
    heading: string;
}

interface Props {
    extraClass?: string;
    translates: Translates;
    feedback: Feedback[]
}

const {extraClass, translates, feedback} = Astro.props;
---

<div
    class={
        twMerge(
            "container",
            extraClass,
        )
    }
>
    <div class="relative">

        <h2 class="relative z-10 mb-10 font-black text-4xl md:text-5xl text-center uppercase">
            {translates.heading}
        </h2>

        <SliderFeedback
            feedbackList={feedback}
            client:only="react"
        />

        <div
            class={
                twMerge(
                    "absolute rotate-[135deg]",
                    "size-10 -top-[50px] right-[80px]",
                    "md:size-[5rem] md:-top-10 md:right-[350px]",
                )
            }
        >
            <Image
                class="w-full h-full object-contain"
                src={star}
                alt="star"
            />
        </div>

        <div
            class={
                twMerge(
                    "absolute rotate-[135deg]",
                    "size-8 -top-[30px] right-[30px]",
                    "md:size-10 md:-top-2.5 md:right-[300px]",
                )
            }
        >
            <Image
                class="w-full h-full object-contain"
                src={star}
                alt="star"
            />
        </div>

        <div
            class={
                twMerge(
                    "absolute rotate-[135deg]",
                    "size-8 top-0 left-0",
                    "md:size-10 md:-top-3 md:left-[300px]",
                )
            }
        >
            <Image
                class="w-full h-full object-contain"
                src={star}
                alt="star"
            />
        </div>
    </div>

</div>
