---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";
import Button from "~/components/Button/Button";

import iconMail from '~/assets/icons/icon-mail.svg';
import schoolDesktop from '~/assets/images/school-desktop.svg'
import schoolMobile from '~/assets/images/school-mobile.svg'


interface Translate {
    heading: string;
    subheading: string;
    description: string;
    linkTitle: string;
    feedbackEmail: string;
}

interface Props {
    extraClass?: string;
    translates: Translate;
}

const {extraClass, translates} = Astro.props;
---

<script>
    import {handleModalTrigger} from '~/shared/utils/triggers/reactTrigger'

    const detail = {defaultEvent: "schools-mc"}
    handleModalTrigger({triggerName: "schools-mc-trigger", detail})
</script>

<div
    class={
        twMerge(
            "relative z-20 bg-purple-200 rounded-3xl md:rounded-8xl py-10 md:py-24 overflow-hidden",
            extraClass
        )
    }
>

    <div
        class="relative z-20 container"
    >
        <div class="flex flex-col md:max-w-[440px]">
            <h2 class="font-black text-2xl md:text-5xl mb-4">
                {translates.heading}
            </h2>

            <p class="w-fit px-4 py-1 mb-10 text-purple bg-[#D2C0FF] rounded-xl">
                {translates.subheading}
            </p>

            <!--TODO: color -->
            <p class="text-[#83799E] mb-9">
                {translates.description}
            </p>

            <Button
                data-react-trigger="schools-mc-trigger"
                title={translates.linkTitle}
                extraClass="bg-purple text-white w-fit mb-11"
            />

            <a
                class="flex items-center gap-2"
                href={`mailto:${translates.feedbackEmail}`}
            >

                <div
                    class={
                        twMerge(
                            "pointer-events-none text-purple",
                            "size-8",
                            "md:size-8"
                        )
                    }
                >
                    <Image
                        class="w-full h-full object-contain"
                        src={iconMail}
                        alt="icon mail"
                    />
                </div>

                <p class="text-2xl">
                    {translates.feedbackEmail}
                </p>

            </a>
        </div>
    </div>


    <div
        class={
            twMerge(
                "hidden md:block z-10 absolute pointer-events-none text-purple inset-0 top-16 right-[650px] scale-[2.3]",
            )
        }
    >
        <Image
            class="w-full h-full object-contain scale-[1.3]"
            src={schoolDesktop}
            alt="school bg"
        />
    </div>

    <div
        class={
            twMerge(
                "md:hidden z-10 absolute pointer-events-none text-purple inset-0 -top-28 right-0 scale-150",
            )
        }
    >
        <Image
            class="w-full h-full object-contain"
            src={schoolMobile}
            alt="school bg"
        />
    </div>

</div>
