---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";

import Button from "~/components/Button/Button";

import DodoKidsPreview from '~/assets/images/preview-mc-kids.png'
import friendBalloon from '~/assets/images/friend-balloon.svg'
import friendOctopus from '~/assets/images/friend-octopus.svg'


interface Translates {
    heading: string;
    subheading: string;
    bookButtonTitle: string;
}

interface Props {
    extraClass?: string;
    translates: Translates;
}

const {extraClass, translates} = Astro.props;
---

<script>
    import {handleModalTrigger} from '~/shared/utils/triggers/reactTrigger';

    handleModalTrigger({triggerName: "hero-pizza-trigger", detail: {defaultEvent: "pizza-mc"}});
</script>


<div
    class={
        twMerge(
            "relative overflow-hidden flex items-center justify-center mt-16",
            "h-[520px] md:h-screen md:min-h-[760px]",
            "rounded-b-3xl md:rounded-b-8xl",
            extraClass
        )
    }
>
    <Image
        src={DodoKidsPreview}
        alt="DodoKids Preview"
        class="absolute w-full h-full object-cover"
    />

    <div
        class="absolute z-20 inset-0 bg-black bg-opacity-40"
    />

    <div
        class={
            twMerge(
                "container relative z-30",
                "flex justify-center items-center",
            )
        }
    >
        <div
            class={
                twMerge(
                    "relative ",
                    "flex flex-col justify-center items-center gap-8"
                )
            }
        >
            <div>
                <h1
                    class="z-10 font-black uppercase text-white text-4xl md:text-8xl text-center"
                    set:html={translates.heading}
                >
                </h1>

                <p class="z-10 text-white text-base md:text-3xl text-center">
                    {translates.subheading}
                </p>
            </div>

            <Button
                title={translates.bookButtonTitle}
                extraClass="w-full md:w-fit"
                data-react-trigger="hero-pizza-trigger"
            />

            <div
                class={
                    twMerge(
                        "absolute z-20",
                        "-top-[60px] right-[50px] w-16",
                        "md:-top-[100px] md:right-[30%] md:w-auto",
                        "animate-fade animate-once animate-delay-300"
                    )
                }
            >
                <Image
                    src={friendBalloon}
                    alt="friendBalloon"
                    class="object-contain w-full h-full"
                />
            </div>

            <div
                class={
                    twMerge(
                        "absolute z-20",
                        "-top-[42px] left-[68px] h-14",
                        "md:-top-[60px] md:left-[25%] md:h-auto",
                        "animate-fade animate-once animate-delay-500"
                    )
                }
            >
                <Image
                    src={friendOctopus}
                    alt="friendOctopus"
                    class="object-contain w-full h-full"
                />
            </div>

            <!-- <div
                class={
                    twMerge(
                        "absolute z-20",
                        "top-[156px] left-0 w-16",
                        "md:-top-[6px] md:-left-[10px] md:w-auto",
                        "animate-fade animate-once animate-delay-800"
                    )
                }
            >
                <Image
                    src={friendTriangle}
                    alt="friendTriangle"
                    class="object-contain w-full h-full"
                />
            </div> -->
        </div>
    </div>
</div>
