---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";
import ButtonLink from "~/components/ButtonLink/ButtonLink.astro";
import SliderPhotos from "~/components/SliderPhotos/SliderPhotos";

import heart from "~/assets/images/heart.svg";


interface Translates {
    heading: string;
    button: {
        url: string;
        title: string;
    }
    headingSlider: string;
}

interface Slide {
    alt: string;
    src: string
}

interface Props {
    extraClass?: string;
    translates: Translates;
    slides: Slide[]
}

const {extraClass, translates, slides} = Astro.props;
---

<div
    class={
        twMerge(
            "relative pt-40 pb-10",
            extraClass,
        )
    }
>

    <div class="container flex flex-col items-center gap-4 md:gap-6">
        <h2
            class="relative z-10 font-black text-4xl md:text-5xl text-center uppercase"
            set:html={translates.heading}
        />

        <ButtonLink
            url={translates.button.url}
            title={translates.button.title}
            extraClass="w-full md:w-fit"
        />

        <SliderPhotos
            slides={slides}
            title={translates.headingSlider}
            client:only="react"
        />

        <!-- HEARTS -->
        <!-- Right -->
        <div
            class={
                twMerge(
                    "absolute rotate-[30deg]",
                    "w-20 top-16 right-24",
                    "md:w-auto md:top-[160px] md:right-[100px]"
                )
            }
        >
            <Image
                src={heart}
                alt="heart"
                class="h-full w-full object-contain"
            />
        </div>

        <div
            class={
                twMerge(
                    "absolute",
                    "w-12 hidden",
                    "md:block md:top-[280px] md:right-[250px] md:-rotate-[17deg]"
                )
            }
        >
            <Image
                src={heart}
                alt="heart small"
                class="h-full w-full object-contain"
            />
        </div>

        <!-- Left -->
        <div
            class={
                twMerge(
                    "absolute -rotate-[30deg]",
                    "w-20 top-16 left-24",
                    "md:w-auto md:top-[160px] md:left-[100px]"
                )
            }
        >
            <Image
                src={heart}
                alt="heart"
                class="h-full w-full object-contain"
            />
        </div>

        <div
            class={
                twMerge(
                    "absolute",
                    "w-12 hidden",
                    "md:block md:top-[280px] md:left-[250px] md:rotate-[17deg]"
                )
            }
        >
            <Image
                src={heart}
                alt="heart small"
                class="h-full w-full object-contain"
            />
        </div>
    </div>
</div>
