---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";

interface Translate {
    heading: string;
    orderButtonTitle: string;
}

interface Props {
    extraClass?: string;
    translates: Translate;
}
import speechBalloon from '~/assets/images/speech-balloon.svg';
import friendBalloon from '~/assets/images/friend-balloon.svg';
import ButtonLink from "~/components/ButtonLink/ButtonLink.astro";

const {extraClass, translates} = Astro.props;
---

<div
    class={
        twMerge(
            "container z-10 relative",
            "h-[400px] pt-10 pl-10",
            "md:h-[520px] md:pt-[100px] md:pl-[240px]",
            extraClass
        )
    }
>

    <div class={
        twMerge(
            "absolute z-20",
            "w-[150px] bottom-0 right-0",
            "md:w-[450px] md:-bottom-[10px] md:right-[180px]"
        )
    }>
        <Image
            class="-scale-x-100 w-full h-full object-contain"
            src={friendBalloon}
            alt="friendBalloon"
        />
    </div>

    <div class="relative z-10 flex flex-col gap-4 max-w-[200px] md:max-w-[390px]">
        <p class="relative z-10 font-black text-xl md:text-5xl">{translates.heading}</p>
        <ButtonLink
            extraClass="relative z-10 w-fit md:px-20"
            url="#"
            title={translates.orderButtonTitle}
        />

        <div class={
            twMerge(
                "absolute-center pointer-events-auto",
                "size-[380px] bottom-0 right-0 rotate-45",
                "md:size-[550px] md:bottom-0 md:right-0 md:rotate-0"
            )
        }>
            <Image
                class="w-full h-full object-contain"
                src={speechBalloon}
                alt="speechBalloon"
            />
        </div>
    </div>

</div>
