---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";

interface Props {
    extraClass?: string;
}

import logoInstagram from '~/assets/logos/logo-instagram.svg';
import logoFb from '~/assets/logos/logo-fb.svg';
import logoTikTok from '~/assets/logos/logo-tik-tok.svg';
import iconPhone from '~/assets/icons/icon-phone.svg';

const {extraClass} = Astro.props;

const socialsNetworksList = [
    {
        icon: logoInstagram,
        url: 'https://www.instagram.com',
        alt: 'instagram',
        title: 'Dodo Pizza Cyprus',
    },
    {
        icon: logoFb,
        url: 'https://www.facebook.com',
        alt: 'facebbok',
        title: 'FB - Dodo Pizza Cyprus',
    },
    {
        icon: logoTikTok,
        url: 'https://tiktok.com',
        alt: 'tik tok',
        title: 'Tik Tok',
    },
    {
        icon: iconPhone,
        url: 'tel:+357 7700 07 07',
        alt: 'phone',
        title: '+357 7700 07 07',
    },
]
---

<div
    class={
        twMerge(
            "py-24 bg-neutral-50",
            extraClass
        )
    }
>
    <div class="container">
        <h2 class="relative z-10 mb-10 font-black text-4xl md:text-5xl text-center uppercase">
            Have More Questions?<br>Contact Us!
        </h2>

        <div class="flex flex-col px-8 md:px-0 md:flex-row gap-3 justify-center">
            {
                socialsNetworksList.map((social) => (
                    <a
                        href={social.url}
                        class="p-4 flex items-center gap-4 rounded-2xl shadow-lg shadow-neutral-100 bg-white"
                        target="_blank"
                    >
                        <div class={
                            twMerge(
                                "size-8",
                            )
                        }>
                            <Image
                                class="w-full h-full object-contain"
                                src={social.icon}
                                alt={social.alt}
                            />
                        </div>

                        <p class="text-black">
                            {social.title}
                        </p>
                    </a>
                ))
            }
        </div>
    </div>
</div>
