---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";

type SocialNetworkEnum = "instagram" | "facebook" | "tiktok" | "phone";

interface SocialNetwork {
    type: SocialNetworkEnum;
    url: string;
    alt: string;
    title: string;
}

interface Translates {
    heading: string;
    socialNetworkList: SocialNetwork[];
}

interface Props {
    extraClass?: string;
    translates: Translates;
}

import logoInstagram from '~/assets/logos/logo-instagram.svg';
import logoFb from '~/assets/logos/logo-fb.svg';
import logoTikTok from '~/assets/logos/logo-tik-tok.svg';
import iconPhone from '~/assets/icons/icon-phone.svg';

const {extraClass, translates} = Astro.props;

const logoLibrary = {
    facebook: logoFb,
    instagram: logoInstagram,
    tiktok: logoTikTok,
    phone: iconPhone,
}
---

<div
    class={
        twMerge(
            "py-24 bg-neutral-50",
            extraClass
        )
    }
>
    <div class="container">
        <h2
            class="relative z-10 mb-10 font-black text-4xl md:text-5xl text-center uppercase"
            set:html={translates.heading}
        >

        </h2>

        <div class="flex flex-col px-8 md:px-0 md:flex-row gap-3 justify-center">
            {
                translates.socialNetworkList.map((social) => (
                    <a
                        href={social.url}
                        class="p-4 flex items-center gap-4 rounded-2xl shadow-lg shadow-neutral-100 bg-white"
                        target="_blank"
                    >
                        <div
                            class={
                                twMerge(
                                    "size-8",
                                )
                            }
                        >
                            <Image
                                class="w-full h-full object-contain"
                                src={logoLibrary[social.type]}
                                alt={social.alt}
                            />
                        </div>

                        <p class="text-black">
                            {social.title}
                        </p>
                    </a>
                ))
            }
        </div>
    </div>
</div>
