---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";

import mcPhotosAccent from '~/assets/images/mc-photos-accent.png'
import ButtonLink from "../components/ButtonLink/ButtonLink.astro";

interface Translates {
    heading: string;
    costBadge: string;
    subtitle: string;
    extra: {
        description: string;
        time: string;
        product: string;
    };
    description: string;
    formButtonTitle: string;
}

interface Props {
    extraClass?: string;
    translates: Translates;
}

const {extraClass, translates} = Astro.props;
---

<div class={
    twMerge(
        "container flex flex-col-reverse gap-2 md:gap-4",
        "md:flex-row",
        extraClass
    )
}>
    <div class="flex justify-center items-center">

        <div class="max-w-md flex flex-col gap-6 md:gap-10">
            <div class="flex flex-col gap-4 md:gap-6">

                <h2 class="uppercase font-black text-3xl md:text-5xl" set:html={translates.heading}>
                </h2>

                <p
                    class="w-fit text-orange bg-orange-100 rounded-xl p-3 leading-[0.5rem]"
                >
                    {translates.costBadge}
                </p>

                <p class="text-neutral-400">
                    {translates.subtitle}
                </p>
            </div>

            <div class="flex flex-wrap gap-2 items-center text-neutral-400">
                <p>
                    {translates.extra.description}
                </p>

                <div class="bg-neutral-400 size-1 rounded-full"/>

                <p>
                    {translates.extra.time}
                </p>

                <div class="bg-neutral-400 size-1 rounded-full"/>

                <p>
                    {translates.extra.product}
                </p>
            </div>

            <p>
                {translates.description}
            </p>

            <ButtonLink
                url="#"
                title={translates.formButtonTitle}
                extraClass="md:w-fit"
            />
        </div>


    </div>

    <div class="flex flex-1 justify-center items-center">
        <div class={
            twMerge(
                "w-full"
            )
        }>
            <Image
                src={mcPhotosAccent}
                alt="mcPhotosAccent"
                class="w-full h-full object-contain"
            />
        </div>
    </div>

</div>
