---
import {twMerge} from "tailwind-merge";
interface Props {
    title: string;
    description?: string;
    extraClass?: string;
}

const {title, description, extraClass} = Astro.props;
import './layout.style.scss';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link rel="icon" href="/landingsAssets/dodoKids/favicon.ico" />
        <link rel="icon" href="/landingsAssets/dodoKids/icon.svg" type="image/svg+xml" sizes="any" />
        <link rel="shortcut icon" href="/landingsAssets/dodoKids/favicon-48x48.png" />
        <link rel="apple-touch-icon" href="/landingsAssets/dodoKids/apple-touch-icon.png" />
        <meta name="theme-color" content="#FFFFFF" />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <meta
            name="description"
            content={description ?? 'TITLE'}
        />
        <title>{title}</title>

        <meta property="og:type" content="website">
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="/landingsAssets/dodoKids/og.jpg" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description}>
        <meta name="twitter:image" content="/landingsAssets/dodoKids/og.jpg">

        <style is:global>
            @font-face {
                font-family: "DodoRounded v2 Regular";
                src: url("../assets/fonts/DodoRounded_v2-Regular.woff2") format("woff2");
                font-display: swap;
                font-style: normal;
            }

            @font-face {
                font-family: "DodoRounded v2 Bold";
                src: url("../assets/fonts/DodoRounded_v2-Bold.woff2") format("woff2");
                font-display: swap;
                font-style: normal;
            }

            @font-face {
                font-family: "DodoRounded v2 Black";
                src: url("../assets/fonts/DodoRounded_v2-Black.woff2") format("woff2");
                font-display: swap;
                font-style: normal;
            }

            html {
                font-family: 'DodoRounded v2 Regular', system-ui, sans-serif;
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body>
        <main
            class={
                twMerge(
                    extraClass,
                )
            }
        >
            <slot/>
        </main>
    </body>
</html>
